@page
@model OPC12_friday.Pages.FavoriteLinksModel
@{
    ViewData["Title"] = "Favorite Links";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's favorite links.</p>
<p>Google <a href="https://google.com"> Google search engine</a>.</p>
<p>Mölk <a href="http://moodle.molk.se/my/"> Moodle</a>.</p>